{% if galaxy is defined %}
    <form action="/galaxies/{{ galaxy.id }}" method="POST">
    <input type="hidden" value="{{galaxy.id }}" />
    {% else %}
    <form action="/galaxies" method="POST">
{% endif %}

     {% block main %}
    <a href="/galaxies">Home</a>
    <div class="control">
        <label>Name:</label>
        <input 
            type="text"
            name="name" 
            {% if galaxy is defined %}
            value="{{ galaxy.name }}"
            {% endif %}
        />
    </div>
    <div class="control">
        <label>Size:</label>
        <input 
            type="integer"
            name="size" 
            {% if galaxy is defined %}
            value="{{ galaxy.size }}"
            {% endif %}
        />
    </div>

     <div class="control">
        <label>Description:</label>
        <textarea name="description">{{ galaxy.description }}</textarea>
    </div>

     <button type="submit">
     {% if galaxy is defined %}Update{% else %}Create{% endif %} Galaxy
     </button> 
</form> 

{% endblock %}