{% if galaxy is defined %}
    <form action="/stars/{{ star.id }}" method="POST">
    <input type="hidden" value="{{star.id }}" />
    {% else %}
    <form action="/stars" method="POST">
{% endif %}

     {% block main %}
    <a href="/stars">Home</a>
    <div class="control">
        <label>Name:</label>
        <input 
            type="text"
            name="name" 
            {% if star is defined %}
            value="{{ star.name }}"
            {% endif %}
        />
    </div>
    <div class="control">
        <label>Size:</label>
        <input 
            type="integer"
            name="size" 
            {% if star is defined %}
            value="{{ star.size }}"
            {% endif %}
        />
    </div>

     <div class="control">
        <label>Description:</label>
        <textarea name="description">{{ star.description }}</textarea>
    </div>

     <button type="submit">
     {% if star is defined %}Update{% else %}Create{% endif %} Star
     </button> 
</form> 
<form
  enctype="multipart/form-data"
  method="POST"
  action="/images/{% if image.id %}{{ image.id }}{% endif %}">
  {% if image.id %}
    <input type="hidden" name="id" value="{{ image.id }}">
  {% endif %}
  <div>
    <label>Parent Variant:</label>
    <select name="variantId">
      <option>Select Variant...</option>
      {% for variant in variants %}
        <option value="{{ variant.id }}" {% if variant.id == image.variantId %}selected="selected"{% endif %}>
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="image">Upload Image:</label>
    <br />
    <input type="file" name="image" id="image" />
  </div>
  <div>
    <input type="submit" type="submit" />
  </div>
</form>

{% endblock %}