<h1>{{ stars.name }}</h1>

<p>
    <strong> Name: </strong> {{ stars.name }} <br />
    <strong> Size: </strong> {{ stars.size }} <br />
    <strong> Description: </strong> {{ stars.description }} <br />
    </p>

    <p>
        <a href="/stars/{{ stars.id }}/edit">Edit This Star</a><br />
        <a href="/stars/{{ stars.id }}/delete">Remove This Star</a><br />
        <a href="/stars/">All</a><br />
    </p>
