<h1>{{ planets.name }}</h1>

<p>
    <strong> Name: </strong> {{ planets.name }} <br />
    <strong> Size: </strong> {{ planets.size }} <br />
    <strong> Description: </strong> {{ planets.description }} <br />
    </p>

    <p>
        <a href="/planets/{{ planets.id }}/edit">Edit This Planet</a><br />
        <a href="/planets/{{ planets.id }}/delete">Remove This Planet</a><br />
        <a href="/planets/">All</a><br />
    </p>
